*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
  background-color: rgba(0, 18, 46, 0.76);
  font-family: 'Exo 2', sans-serif;
  transition: all .5s;
}
header{
  display:flex;
  align-items:baseline;
  background-color:rgba(0,0,0,.08);
  /* justify-content: center; */
  /* margin-top: -10px; */
}
links{
  display:flex;
  flex: 1;  
  justify-content: flex-start;
  align-items: center;
}
links #logo{
  color: rgb(236, 203, 111);
  padding: 2px 25px;
  font-size: 2.6em;
  transition: all .5s;

}
links #logo:hover{
  background-color: transparent;
  color: rgb(201, 127, 78);
  text-shadow: 4px 5px rgba(0,0,0,.06);
}
links a{
  display: flex;
  flex-direction:row;
  padding: 5px 10px;
  margin: 10px;
  text-decoration:none;
  color: white;
  transition: all .4s;
}
links a:hover{
  background-color: #ececec;
  color: rgb(40, 40, 40);
  box-shadow: 4px 5px rgba(0,0,0,.06);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.drop-down .drop-down-text {
  visibility: hidden;
  width: 180px;
  background-color: rgba(0,0,0,.75);
  color: rgb(253, 252, 203);
  text-align: center;
  border-radius: 6px;
  text-shadow: 2px 2px rgba(0,0,0,.09);
  margin-top: 10px;
  padding: 5px;
  transition: transform .7s;
  position: absolute;
  z-index: 3;
}

.drop-down:hover .drop-down-text {
  visibility: visible;
  transform: scale(1.06);
  transform: translateY(20px);
}
#social-links ul{
  display: flex;
  list-style: none;
}
#social-links a{
  transition: all 0.4s;
  font-size: 1.5em;
  color: white;
  list-style: none;
  padding: 0px 15px;
}
#social-links a:last-child{
  margin-right: 10px;
}
#f:hover{
  color: #3b5998;
}
#s:hover{
  color: #FFFC00;
}
#i:hover{
  color: #fb3958;
}
game {
    display: flex;
    background-color: rgba(101,165,248,.4);
    align-items: baseline;
    justify-content: center;
    box-shadow: 3px 4px rgba(0,0,0,.1);
    transition: all .4s;
}
h1.title{
    transition: all .4s;
    padding: 10px;
    margin: 0px 10px;
    color: white;
    font-size: 5em;
    letter-spacing: 7px;
    text-shadow: 2px 5px rgba(0,0,0,.09);
}
#title-hover{
transition: text-shadow .3s;
}
#title-hover:hover{
  text-shadow: 4px 10px rgba(0,0,0,.09);
}

.card-container{
    display: flex;
    justify-content: space-evenly;

}
.card-window{
    display: flex;
    height: 350px;
    width: 175px;
    background-image: url(assets/card-deck-css/images/backs/red.svg);
    background-color: white;
    background-size: 175px 350px;
    transition: all .7s;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,.09);
    z-index: -1;
}
.card-window#player-card:hover {
  transform: scale(1.4) rotate(15deg);
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,.15);
}
.card-window#opponent-card:hover{
  transform: scale(1.4) rotate(-15deg);
  box-shadow: -16px 16px 16px 16px rgba(0,0,0,.15);
}
.card-window #player{
    padding: 30px;
}
.card-window #opponent{
    padding: 30px;
}
#status-board{
    transition: all .6s;
    z-index: 2;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 70px;
    margin-left: 0px;
    position: absolute;
    font-size: 2.5em;
    color: white;
    background-color: rgba(0,0,0,.1);
    text-shadow: 3px 1px rgba(0,0,0,.2);
    box-shadow: 2px 3px rgba(0,0,0,.2);
}
#status-board:hover{
  box-shadow: 4px 6px rgba(0,0,0,.2);
}
.card-title{
    padding: 10px;
    color: white;
    text-align: left;
    text-shadow: 1px 1px rgba(0,0,0,.3);
    margin-top: 40px;
    font-size: 1.1em;
    z-index: 3;
}
.score{
    color: white;
    padding: 10px;
    text-shadow: 1px 1px rgba(0,0,0,.3);
    text-align: left;
    z-index: 3;
}
#play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 350%);
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  border: none;
  outline: none;
 }
 #play-button:hover
 {
  animation: animate 5s linear infinite;
 }
 @keyframes animate
 {
  0%
  {
   background-position: 0%;
  }
  100%
  {
   background-position: 400%;
  }
 }
 #play-button:before
 {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #1db8ff, #f34caa, #ffed4b, #34bfff);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
 
  
 }
 #replay-button{
   visibility: hidden;
 }
 #play-button:hover:before{
  filter: blur(18px);
  opacity:1;
  animation: animate 6s linear infinite;
 }
@media screen and (max-width: 799px){
  h1.title{
    padding: 10px;
    margin: 5px 10px;
    color: white;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-shadow: 2px 5px rgba(0,0,0,.09);
  }
  #status-board{
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-top: 70px;
    margin-left: 0px;
    position: absolute;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0,0,0,.1);
    text-shadow: 3px 1px rgba(0,0,0,.2);
    box-shadow: 2px 3px rgba(0,0,0,.2);
  }
  button{
    padding:0 1em;
    font-size:2em;
  }
}
@media screen and (max-width: 1031px){
  h1.title{
    padding: 5px;
    margin: 5px 10px;
    color: white;
    font-size: 1.2em;
    letter-spacing: 7px;
    text-shadow: 2px 5px rgba(0,0,0,.09);
  }
  button{
    padding:0 1em;
    font-size: 2em;
  }
}
@media screen and (max-width: 799px){
  links a{
    padding: 2px;
    margin: 2px;

  }
}
@media screen and (max-width: 626px){
  links a{
    padding: 1px;
    margin: 0px 1px;
    font-size: 10px;
  }
}
@media screen and (max-width: 620px){
  header{
    visibility: hidden;
  }
  h1.title{
    padding: 10px;
    margin: 5px 10px;
    color: white;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-shadow: 2px 5px rgba(0,0,0,.09);
  }

#play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 550%);
  width: 150px;
  height: 45px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
 }
}